#header {
  text-align: center;
  margin-bottom: 50px;
  padding: 15px;
  background-color: #bc1414;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#title {
  width: 480px;
  margin: 0 auto 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
}

#logo {
  width:50px;
  position: center;
}

h1 {
  display: inline;
  text-shadow: 4px 4px #8c1212;
  color: white;
  font-weight: bold;
  font-family: Raleway;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 50px;
}

h1:hover {
  letter-spacing: 4px;
  text-shadow: 4px 4px #8c1212;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

Picker, .btn, .btn-sm, .btn-default, .dropdown-toggle {
  color: #3a3434 !important;
  border-radius: 25px;
  border-color: #8c1212 !important;
  font-family: 'Raleway' !important;
  font-weight: bold;
  letter-spacing: 1px !important;

}

.btn-primary, .btn-select, .btn-success, .select{
  color: #3a3434 !important;
  font-family: 'Raleway' !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;

}

.btn-danger {
  color: white!important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
  background-color: #bc1414!important;
  background-image: linear-gradient(to bottom, #EE0000 0, #DD0000 100%);
}

.dropdown-menu li {
  max-width: 200px;
}

#navbar {
  box-sizing: content-box;
  padding:5px 0 5px 0;
  width: 100%;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  position: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

#navbar:hover {
  box-shadow: 6px 6px 2px #8c1212;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.btn-group label.active {
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
  color:white!important;
  text-shadow:none;
}

.btn-group label.active:hover {
  background: linear-gradient(to bottom, #B84643 0, #A62824 100%);
}

ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

li {
  justify-self: center;
  list-style: none;
  width: 350px;
  font-family: Raleway;
}

li img {
  border: 2px solid #bc1414;
  box-shadow: 9px 9px 0px #bc1414;
  width: 350px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

li img:hover {
  
  box-shadow: -14px -14px 0px #bc1414;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

li img:hover + h3 {
  margin-top: 20px;
}

li span {
  font-weight:bold;
}

h3 {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20pt;
  margin: 20px 0 20px 0;
  font-family: Raleway;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h3:hover {
  letter-spacing: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.field {
  font-family: Raleway;
  margin: 10px;
}

input[type=text] {
  height: 25px;
  width:180px;
  border: 1px solid #8c1212;
  box-sizing:content-box;
  padding: 2px;
}

input[type=text]:hover {
  background: #FAFAFA;
}

icon {
  font-size:60px;
  color:red;
}


littlebox {
  width: 80px;
  height: 40px;
  border: 2px solid #bc1414;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
 
}

littlebox:hover {
  color: white !important;
  box-shadow: 4px 4px #8c1212;
  background-color: #bc1414;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /*border-color: #bc1414;
  border-width: 4px;
  border-style: outset;*/
}

littlebox:hover a {
  color: white;
}


littlebox2 {
  width:360px;
  height: 40px;
  padding-bottom: 10px;
  background-color: #bc1414;
  border: 2px solid #bc1414;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
 
}

h4:hover {
  color: white;
}

h5 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: white;
}



.btn-group:not(.dropdown) .btn {
  border-radius: 0;
}

.edge:nth-of-type(1) {
  margin-left:10px;
  border-radius: 25px 0 0 25px!important;
}

.edge:nth-of-type(5) {
  border-radius: 0 25px 25px 0!important;
  margin-right: 10px;

}

@media screen and (max-width: 1090px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  ul {
    grid-template-columns: 1fr;
  }
}